@model SignTrack.Models.Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="~/yu/main.css" rel="stylesheet" />
</head>
<body>
    <div  class="header" >签到</div>
    <div class="height10"></div>
    <form asp-action="SignIn">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
        <table class="hundred">
            <tr>
                <td style="width:30px;"><img src="~/yu/images/userid.png" /></td>
                <td><input asp-for="StuNo" /></td>
            </tr>
            <tr>
                <td colspan="2"> <span asp-validation-for="StuNo"></span></td>
            </tr>
            <tr>
                <td><img src="~/yu/images/pwd.png" /></td>
                <td><input asp-for="Name"/></td>
            </tr>
            <tr>
                <td colspan="2"> <span asp-validation-for="Name"></span>
                </td>
            </tr>
        </table>
        </div>

        <div>
            <div>
                <input type="hidden" id="input_phone" asp-for="Phone" />
                <input type="hidden" id="reqType" name="reqType" />
                <span asp-validation-for="Phone"></span>
            </div>
        </div>
        <div class="height5"></div>
        <div>
            <ul>
                <li><input type="submit" value="确认签到" onclick="setReqType('confirm')"/></li>
                <li><input type="submit" value="历史记录" onclick="setReqType('history')" /></li>
                <li><input type="submit" value="缺席查询" onclick="setReqType('absence')" /></li>
                <li><input type="button" value="测试" onclick="setPhone('112233')" /></li> 
            </ul>
            
        </div>
    </form>
</body>
</html>
<script>
    function setPhone(phone)
    {
        document.getElementById("input_phone").value = phone;
    }
    function setReqType(t)
    { 
        document.getElementById("reqType").value = t;
    }
</script>
